body{
    background-color: darkgreen;
}
#taking-bets{
    color: white;
    font-size: 5vh;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
}
#bettor-table-div{
    position: absolute;
    width: 20vw;
    height: 4vh;
    left: 40vw;
    text-align: center;
}
#bettor-table{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.bettor-table-tr{
    width: 40vw;
    color: red;
    font-family: 'Brush Script MT', cursive;
    font-size: 200%;
    background-color: black;

}
.bettor-table-td{
    width: 60vw;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
select{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

#main-table-div{
    background-color: darkgreen;
    width: 70vw;
    height: 70vh;
    position:absolute;
    top: 20vh;
    left: 15vw;
}
#the-main-table{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-color: white;
}
.main-table-tr{
    width: 93%;
    height: 20%;
}
.main-table-td{
    width: 31%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bet{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.7);
    opacity: 0;
    background-image: url(./Images/chip.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bet:hover{
    animation: betting 0.5s forwards;
}
@keyframes betting {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#the-main-table, .main-table-tr, .main-table-td{
    border: 5px solid white;
}
#submit-div, #score-button-div, #victim-div{
    position: absolute;
    text-align: center;
    width: 10vw;
    left: 45vw;
    top: 90vh;
}
#score-button-div{
    left: 25vw;
}
#victim-div{
    left: 65vw;
}
#submit-button {
    background-color: black; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 3vh;
    font-family: 'Brush Script MT', cursive;
    border-radius: 10%;
    width: 100%;
    cursor: pointer;
}
#scoreboard{
    position: absolute;
    top: 100vh;
    width: 98vw;
    height: auto;
}
#scoreboard-table{
    position: absolute;
    width: 40vw;
    height: 35vh;
    border: 5px solid white;
    color: red;
    left: 29vw;
    background-color: black;
}
.scoreboard-cells{
    border: 2px solid white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#footer{
    position: absolute;
    height: 5vh;
    width: 5vw;
    top: 35vh;
}